body {
  margin: 0;
}

.app {
  .errorOutput {
    color: red;
  }
}

.connect {
  .connectButton {
    display: block;
  }
}

.game {
  position: absolute;
  width: 100vw;
  height: 100vh;
  
  * {
    user-select: none;
  }

  .player {
    position: absolute;
    background-color: lightgreen;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 2px solid black;
    border-right: 2px solid red;
    z-index: 50;
    box-sizing: border-box;
  }
}

.level {
  overflow: visible;
  width: 0px;
  height: 0px;
  
  .wall {
    background-color: #aaa;
    position: absolute;
  }
}

.particle {
  position: absolute;
  width: 0;
  height: 0;
  overflow: visible;

  img {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
}
